body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    /*
    padding: 20px;
    display: inline-block;
    */
}

.li-header {
    background-color: #81947e;
}

#img {
    width: 200px;
}

#ol-nav {
    background-color: #75667c;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    padding: 10px 50px;
    color: #ffffff;
    text-align: center;
}